

.navbarColor {
    background-color: rgb(33, 36, 53);
    color: white;
}

.paddingForLogoToPushStuffRight {
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    margin-left:10px ;
}

.alignLoginLogoutRight {
    color: white;
    font-family: 'Amatic SC', cursive; 
}

.navBarh3Tags{
    margin: 10px;
}
               

