/* html { */
  /* min-height: 100%; */
/* } */

h1 {
  /* font-family: 'Amatic SC', cursive; */
  /* font-family: 'Permanent Marker', cursive; */
  /* font-size: 4em; */
  /* color: white; */
}

.amaticGoogleFont {
  font-family: 'Amatic SC', cursive;
  /* font-family: 'Permanent Marker', cursive; */
  font-size: 4em;
  /* color: white; */
}

html,
body {
  margin: 0;
  padding: 0;
  /* font-family: sans-serif; */
  height: 100%;
  position: relative;
  background-image: linear-gradient(to bottom right, rgb(140, 0, 255), rgb(0, 255, 42));
}

p {
  font-family: Helvetica, Arial, sans-serif;
  /* color: white; */
  /* font-family: 'Amatic SC', cursive;
  font-size: 2em; */
}


.navbarColor {
  background-color: #3F54B9;
  color: white;
}

.container {
  margin-top: 40px;
  padding-top: 15px;
  background-color: rgba(33, 36, 53, 0.7);
  border-radius: 20px;
  background-color: rgba(33, 36, 53, 0.7);
  color: rgb(207, 207, 207);
}

.permanentMarkerFont {
  /* font-family: 'Permanent Marker', cursive; */
  font-family: 'Amatic SC', cursive;
  color: white;
  font-size: 4em;
  /* font-size: 2em; */
}

.navBarh3Tags {
  /* background-color: #3F54B9; */
  color: white;
  margin-left: 30px;
  margin-right: 5px;
  font-size: 1.5em;
  /* font-family: 'Permanent Marker', cursive; */
  font-family: 'Amatic SC', cursive;
}

