.submitButton {
    /* display: block; */
    /* justify-content: center; */
}

.DescriptionOfPostText {
    color: white;
}

.alignTextLeft {
    text-align: left;
    margin-top: 1em;
    color: white;
}

.submitBtn {
    margin-top: 1em;
}