.alignLeft {
<<<<<<< HEAD
    text-align: center;
=======
    text-align: left;
>>>>>>> fc46f8f9e75a2033e0168bc3d805d95f3bcc3852
    color: white;
}

.bioText{
    color: white;
<<<<<<< HEAD
    text-align: center;
=======
>>>>>>> fc46f8f9e75a2033e0168bc3d805d95f3bcc3852
    
}

.profileNameText {
    font-size: 3em;
    }

.emailText {
    font-size: 1.2em;
    font-weight: bold;
    margin: 0;
}

.bioText {
    padding: 0;
    margin-top: -2;
}
<<<<<<< HEAD
.media-body{
    margin-top: 30px;
}
.container{
    margin-top: 30px;
}
img.mr-3{
    margin-left: 16px;
=======

.bnt{
    position: relative;
>>>>>>> fc46f8f9e75a2033e0168bc3d805d95f3bcc3852
}
