.alignLeft {
    text-align: left;
    color: rgb(10, 10, 10);
}

.bioText{
    color: silver;
    
}

.profileNameText {
    font-size: 3em;
    /* margin-bottom: .3em; */
}

.emailText {
    font-size: 1.2em;
    font-weight: bold;
    margin: 0;
}

.bioText {
    padding: 0;
    margin-top: -2;
}

.container{
    
}
.bnt{
    position: relative;
}

