
.widthFormControlInFooter{
  padding: 5px;
  display: inline;
  background-color: black;  
  width: auto;
  }

.blackFooter {
  padding-left: 8px;
  padding-right: 8px;
  height: 50px;
  background-color: black;
  margin-top: 0px;  
}

.blackBackground {  
  padding-top: 0px;
  margin-top: 0px;
  background-color: black;
  border: black;  
}



.whiteText{
  padding-left: 45px;
  padding-right: 45px;
  text-align: center;
}

.copyright{
  color: silver;
  margin-bottom: 0%;
}

.redSendArrowIcon {
  margin-left: .5em;
}

.twitterFacebookMargins {
  margin-left: .5em;
  margin-right: .5em;
}

.marginLeft {
  margin-left: .5em;
}
