.loginPageSubmitButton {
    margin-bottom: 1em;
}

.formLabelTextMarginsLoginPage {
    margin-top: .6em;
    color: white;
}

.DescriptionOfPostText {
    color: white;
    margin: 0;
}

.widthOfLoginForm {
    width: 100%;
    align-items: center;
    /* display: inline; */
}


.marginFromTop {
    margin-top: 1em;
}

.loginPageFont {
    font-family: 'Amatic SC', cursive;
    /* font-family: 'Permanent Marker', cursive; */
    font-size: 4em;
    /* color: white; */
  }